---
image:
  # renovate: datasource=docker depName=cloudflare/cloudflared
  tag: 2025.9.1
cloudflare:
  secretName: "prowlarr-tunnel-credentials"
  tunnelName: "faerun-prowlarr"
  ingress:
    - hostname: "prowlarr.fieldsofbears.com"
      service: "http://prowlarr.prowlarr.svc.cluster.local:9696"
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65532
  seccompProfile:
    type: "RuntimeDefault"
