---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json
defaultPodOptions:
  securityContext:
    runAsUser: 1001
    runAsGroup: 1001
    fsGroup: 1001
    fsGroupChangePolicy: OnRootMismatch
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
controllers:
  main:
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        runAsNonRoot: true
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
    containers:
      app:
        securityContext:
          capabilities:
            drop:
              - ALL
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          seccompProfile:
            type: RuntimeDefault
        image:
          repository: ghcr.io/home-operations/prowlarr
          # renovate: datasource=docker depName=ghcr.io/home-operations/prowlarr
          tag: 2.3.1
          pullPolicy: IfNotPresent
        env:
          TZ: UTC
          PUID: 1001
          PGID: 1001
          UMASK: "022"
          COMPlus_EnableDiagnostics: "0"
          PROWLARR__SERVER__PORT: &port 9696
          PROWLARR__LOG__LEVEL: info
          PROWLARR__ANALYTICS__ENABLED: "False"
          PROWLARR__AUTH__METHOD: External
          PROWLARR__APP__INSTANCENAME: Whisparr
          PROWLARR__AUTH__REQUIRED: DisabledForLocalAddresses
          PROWLARR__UPDATE__BRANCH: develop
          PROWLARR__AUTH__APIKEY:
            valueFrom:
              secretKeyRef:
                name: prowlarr-secret
                key: api_key
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5
        resources:
          requests:
            cpu: 18m
            memory: 128Mi
          limits:
            memory: 256Mi
service:
  app:
    controller: main
    type: LoadBalancer
    annotations:
      metallb.universe.tf/address-pool: metalpool
      external-dns.alpha.kubernetes.io/hostname: prowlarr.stoneydavis.local
      external-dns.alpha.kubernetes.io/ttl: "1800"
      external-dns.alpha.kubernetes.io/webhook-comment: "k8s_managed"
      external-dns.alpha.kubernetes.io/webhook-match-subdomain: "true"
      external-dns.alpha.kubernetes.io/webhook-disabled: "false"
    externalTrafficPolicy: Cluster
    ports:
      http:
        targetPort: *port
        port: 80
persistence:
  config:
    enabled: true
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    dataSourceRef:
      kind: ReplicationDestination
      apiGroup: volsync.backube
      name: prowlarr-config-dst
    size: 5Gi
  library:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: prowlarr-library-nfs
  tmp:
    type: emptyDir
