---
# yaml-language-server: $schema=https://raw.githubusercontent.com/stakater/Reloader/master/deployments/kubernetes/chart/reloader/values.schema.json
reloader:
  podMonitor:
    enabled: true
  deployment:
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
fullnameOverride: reloader
