---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: metallb-system
helmCharts:
  - name: metallb
    repo: https://metallb.github.io/metallb
    releaseName: metallb
    version: 0.15.3
    valuesFile: ./values.yaml
resources:
  - ./base/ippool.yaml
  - ./base/l2config.yaml
  - ./base/namespace.yaml
