---
prometheus:
  scrapeAnnotations: true
  serviceAccount: "monitoring-prometheus-kube-prometheus"
  namespace: monitoring
  podMonitor:
    enabled: false
  serviceMonitor:
    enabled: false
  prometheusRule:
    enabled: true
controller:
  securityContext:
    runAsNonRoot: true
    runAsUser: 65534
    fsGroup: 65534
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    privileged: false
    seccompProfile:
      type: "RuntimeDefault"
speaker:
  securityContext:
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    privileged: false
    seccompProfile:
      type: "RuntimeDefault"
