[Unit]
Description=LiveKit Server Container

[Service]
LimitNOFILE=500000
Restart=always
ExecStart=/usr/local/bin/livekit-server --config {{ livekit_config_file }}
User={{ livekit_service_user }}

[Install]
WantedBy=multi-user.target

