[Unit]
Description=LiveKit Server Container

[Service]
LimitNOFILE=500000
Restart=always
Environment=LIVEKIT_URL=wss://{{ certbot_certs[0].name }}:{{ livekit_config.port }}
Environment=LIVEKIT_KEY={{ livekit_config['keys'] | items | first | first }}
Environment=LIVEKIT_SECRET={{ livekit_config['keys'] | items | first | last }}
Environment=LIVEKIT_JWT_BIND=127.0.0.1:{{ livekit_jwt_port }}
Environment=LIVEKIT_FULL_ACCESS_HOMESERVERS={{ livekit_jwt_homeservers }}
ExecStart=/usr/local/bin/livekit-jwt
User={{ livekit_service_user }}

[Install]
WantedBy=multi-user.target


