[Unit]
Description=LiveKit JWT Service
After=network.target livekit-server.service

[Service]
LimitNOFILE=500000
Restart=always
RestartSec=5
Environment=LIVEKIT_URL={{ livekit_jwt_scheme | default('wss') }}://{{ certbot_certs[0].name }}:{{ livekit_config.port }}
Environment=LIVEKIT_KEY={{ livekit_config['keys'] | items | first | first }}
Environment=LIVEKIT_SECRET={{ livekit_config['keys'] | items | first | last }}
Environment=LIVEKIT_JWT_BIND=127.0.0.1:{{ livekit_jwt_port }}
Environment=LIVEKIT_FULL_ACCESS_HOMESERVERS={{ livekit_jwt_homeservers }}
ExecStart=/usr/local/bin/livekit-jwt
User={{ livekit_service_user }}
Wants=network.target

[Install]
WantedBy=multi-user.target


