---
# vim: filetype=ansible.yaml
- name: Enable IPv4 forwarding
  become: true
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    state: present
    reload: true
- name: Enable IPv6 forwarding
  become: true
  ansible.posix.sysctl:
    name: net.ipv6.conf.all.forwarding
    value: "1"
    state: present
    reload: true
  when: ansible_all_ipv6_addresses | length > 0
- name: Ensure undesired packages are not installed
  become: true
  ansible.builtin.apt:
    pkg:
      - docker.io
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: absent
- name: Get debian architecture
  ansible.builtin.command: dpkg --print-architecture
  register: debian_arch
  changed_when: debian_arch.rc != 0
- name: Set debian Arch fact
  ansible.builtin.set_fact:
    cacheable: true
    dpkg_architecture: "{{ debian_arch.stdout }}"
- name: Create headscale config directory
  become: true
  ansible.builtin.file:
    path: "/etc/headscale"
    state: directory
    owner: root
    group: root
    mode: '0755'
- name: Add headscale config
  become: true
  ansible.builtin.copy:
    src: config.yaml
    dest: "/etc/headscale/config.yaml"
    owner: root
    group: root
    mode: '0644'
- name: Install required packages
  become: true
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
    autoclean: true
    state: latest
    pkg:
      - curl
      - ca-certificates
- name: Install headscale deb package
  become: true
  become_flags: '-' # https://github.com/ansible/ansible/issues/45219
  ansible.builtin.apt:
    deb: https://github.com/juanfont/headscale/releases/download/v{{ headscale_version
      }}/headscale_{{ headscale_version }}_linux_{{ dpkg_architecture }}.deb
- name: Enable headscale systemd service
  become: true
  ansible.builtin.systemd_service:
    name: headscale.service
    enabled: true
    daemon_reload: true
    state: restarted
- name: Generate pre-authkey
  when: not tailscale_authkey
  block:
    - name: Create user
      ansible.builtin.command:
        cmd: headscale users create -o json stoney
    - name: Generate pre-auth-key
      register: headscale_pre_auth_key
      no_log: true
      ansible.builtin.command:
        cmd: headscale preauthkeys create --reusable -u stoney -e 99y -o json
    - name: Set secret for pre-authkey
      no_log: true
      community.aws.secretsmanager_secret:
        name: weasel.stoneydavis.com/headscale/pre-auth-key
        secret_type: string
        secret: "{{ headscale_pre_auth_key.stdout | from_json | json_query('key')
          }}"
