.env.local
*$py.class
*-secret.env
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
*.sublime-workspace
.Python
.cache
.coverage
.coverage.*
.eggs/
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.pytest_cache/
.ropeproject
.scrapy
.terraform
.terraform
.tox/
.venv
.webassets-cac
/.env
/site
MANIFEST
__pycache__/
build/
coverage.xml
db.sqlite3
develop-eggs/
dist/
downloads/
eggs/
htmlcov/
instance/
lib64/
local_settings.py
node_modules/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
tags
tags.lock
tags.temp
target/
var/
venv.bak/
wheels/
*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
