---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: immich
    repo: https://immich-app.github.io/immich-charts
    version: 0.10.3
    namespace: immich
    releaseName: immich
    valuesFile: immich-values.yaml
  - name: cloudflare-tunnel
    repo: https://cloudflare.github.io/helm-charts
    version: 0.3.2
    releaseName: immich
    namespace: immich
    valuesFile: cloudflare-values.yaml
resources:
  - ./external-secret.yaml
  - ./pvc.yaml
  - ./volsync-external-secret.yaml
  - ./volsync-replication-destination.yaml
  - ./volsync-replication-source.yaml
