---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
# vim: filetype=ansible.yaml
- name: Reboot if update has requested it
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: common_reboot_file_reboot_required
  changed_when: common_reboot_file_reboot_required.stat.exists
  notify: reboot
