---
image:
  # renovate: datasource=docker depName=cloudflare/cloudflared
  tag: 2025.5.0
cloudflare:
  secretName: "whisparr-tunnel-credentials"
  tunnelName: "faerun-whisparr"
  ingress:
    - hostname: "whisparr.fieldsofbears.com"
      service: "http://whisparr.whisparr.svc.cluster.local:6969"
