---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/values.schema.json
controllers:
  main:
    containers:
      main:
        image:
          repository: rhasspy/wyoming-whisper
          # renovate: datasource=docker depName=rhasspy/wyoming-whisper
          tag: 3.1.0
        args:
          - --model
          - base
          - --language
          - en
        env:
          TZ: "America/Los_Angeles"
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
persistence:
  data:
    enabled: true
    globalMounts:
      - path: /data
    accessMode: "ReadWriteOnce"
    size: 15Gi
service:
  main:
    type: LoadBalancer
    annotations:
      metallb.universe.tf/loadBalancerIPs: 172.17.42.205
      metallb.universe.tf/address-pool: metalpool
    externalTrafficPolicy: Cluster
    controller: main
    ports:
      http:
        enabled: false
        primary: false
        port: 8000
      whisper:
        enabled: true
        primary: true
        port: 10300
        protocol: TCP
