---
image:
  # renovate: datasource=docker depName=cloudflare/cloudflared
  tag: 2025.11.1
cloudflare:
  secretName: "joplin-tunnel-credentials"
  tunnelName: "faerun-joplin"
  ingress:
    - hostname: "joplin.fieldsofbears.com"
      service: "http://joplin.joplin.svc.cluster.local:8080"
