---
apiVersion: v1
kind: Pod
metadata:
  name: sqlite
  namespace: jellyfin
spec:
  containers:
    - name: sqlite
      image: docker.io/alpine/sqlite:3.51.1
      imagePullPolicy: IfNotPresent
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        runAsNonRoot: true
        runAsUser: 65535
        runAsGroup: 65535
        seccompProfile:
          type: RuntimeDefault
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyfin-config
  restartPolicy: Always
