---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: openebs
helmCharts:
  - name: openebs
    repo: https://openebs.github.io/openebs
    version: 4.3.3
    releaseName: openebs
    includeCRDs: true
    valuesFile: values.yaml
    namespace: openebs

patches:
  - path: patches/pre-upgrade-hook.yaml
  - path: patches/alloy.yaml
  - path: patches/localpv-provisioner.yaml
  - path: patches/loki.yaml
  - path: patches/minio-post-job.yaml
  - path: patches/minio.yaml
