---
- name: Create /var/db
  ansible.builtin.file:
    state: directory
    path: /var/db
    owner: root
    group: root
    mode: "0755"
- name: Create database
  ansible.builtin.shell:
    cmd: sqlite3 /var/db/turndb
    stdin: "{{ lookup('ansible.builtin.file', 'schema.sql') }}"
    creates: /var/db/turndb
- name: Update apt cache.
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 600
  when: ansible_facts.os_family|lower == 'debian'
  changed_when: false
- name: Install certbot dependencies (RedHat)
  ansible.builtin.package:
    name:
      - cronie
      - epel-release
    state: present
  when: ansible_facts.os_family|lower == 'redhat'
- name: Install cron (Debian).
  ansible.builtin.package:
    name: cron
    state: present
  when: ansible_facts.os_family|lower == 'debian'
- name: Include certbot
  ansible.builtin.import_role:
    name: geerlingguy.certbot
- name: Include raypappa.coturn
  ansible.builtin.import_role:
    name: raypappa.coturn
