---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
- name: Get my public IP
  community.general.ipify_facts:
- name: Upgrade the OS (apt-get dist-upgrade)
  become: true
  ansible.builtin.apt:
    upgrade: dist
    update_cache: true
    cache_valid_time: 3600
    autoclean: true
- name: AutoRemove
  ansible.builtin.apt:
    autoremove: true
- name: Ensure required packages are installed
  become: true
  ansible.builtin.apt:
    pkg:
      - apt-transport-https
      - bc
      - bridge-utils
      - build-essential
      - ca-certificates
      - curl
      - dbus
      - ffmpeg
      - firmware-misc-nonfree
      - gdisk
      - git
      - htop
      - inotify-tools
      - iotop
      - iptraf-ng
      - jq
      - keychain
      - libbz2-dev
      - libffi-dev
      - liblzma-dev
      - libncursesw5-dev
      - libreadline-dev
      - libsqlite3-dev
      - libssl-dev
      - libtcmalloc-minimal4
      - libxml2-dev
      - libxmlsec1-dev
      - llvm
      - lm-sensors
      - luajit
      - make
      - mdadm
      - nano
      - neovim
      - net-tools
      - python3-kubernetes
      - python3-pip
      - python3-pynvim
      - python3-venv
      - rsync
      - sudo
      - smartmontools
      - strace
      - sysstat
      - tk-dev
      - tmux
      - tree
      - unzip
      - virt-manager
      - wget
      - xz-utils
      - zip
      - zlib1g-dev
      - lftp
      - zsh
    state: latest
- name: Ensure all user homedir's are configured
  ansible.builtin.include_tasks: user.yaml
  vars:
    user: '{{ item }}'
  loop:
    - root
# ideally this should be conditional if the headscale pre-auth key is present, but for now I'll disable to bootstrap headscale
- name: Install tailscale
  ansible.builtin.include_role:
    name: artis3n.tailscale.machine
  when:
    - tailscale_authkey is defined
    - tailscale_authkey | length > 0
  tags:
    - tailscale
- name: Set hostname if specified
  become: true
  when: hostname is defined
  notify: reboot
  ansible.builtin.hostname:
    name: '{{ hostname }}'
    use: debian
