---
# vim: filetype=ansible.yaml
- name: Create a configured account for "{{ user }}"
  become: true
  ansible.builtin.user:
    name: "{{ user }}"
    shell: /bin/bash
    groups: libvirt, dialout, audio, video
    append: true
- name: Ensure bare dotfile repo is present for "{{ user }}"
  become_user: "{{ user }}"
  become: true
  ansible.builtin.git:
    dest: ~/.cfg
    repo: https://github.com/blade2005/dotfiles.git
    bare: true
    update: true
- name: Ensure the config repo is checked out for "{{ user }}"
  become_user: "{{ user }}"
  become: true
  ansible.builtin.command: # noqa: command-instead-of-module
    cmd: git --git-dir=$HOME/.cfg/ --work-tree=$HOME checkout main --force
  args:
    creates: ~/.zshrc
- name: Ensure config repo is up to date for "{{ user }}"
  become_user: "{{ user }}"
  become: true
  ansible.builtin.command: # noqa: no-changed-when command-instead-of-module
    cmd: git --git-dir=$HOME/.cfg/ --work-tree=$HOME pull --force
- name: Create .ssh dir if it doesn't exist for "{{ user }}"
  become: true
  become_user: "{{ user }}"
  ansible.builtin.file:
    path: $HOME/.ssh
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0700"
- name: Ensure that authorized_keys is up to date for "{{ user }}"
  become: true
  become_user: "{{ user }}"
  ansible.builtin.copy:
    src: authorized_keys
    dest: $HOME/.ssh/authorized_keys
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0600"
