---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
# vim: filetype=ansible.yaml
- name: user | {{ user }} | Create a account
  become: true
  ansible.builtin.user:
    name: "{{ user }}"
    shell: /usr/bin/zsh
    groups: libvirt, dialout, audio, video
    append: true
- name: user | {{ user }} | Create .ssh dir
  become: true
  become_user: "{{ user }}"
  ansible.builtin.file:
    path: $HOME/.ssh
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0700"
- name: user | {{ user }} | authorized_keys
  become: true
  become_user: "{{ user }}"
  ansible.builtin.copy:
    src: authorized_keys
    dest: $HOME/.ssh/authorized_keys
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0600"
- name: user | {{ user }} | zsh files
  become: true
  become_user: "{{ user }}"
  ansible.builtin.copy:
    src: "{{ path }}"
    dest: "$HOME/{{ path }}"
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0640"
  loop_control:
    loop_var: path
  loop:
    - .zpath
    - .zprofile
    - .zshenv
    - .zshrc
- name: user | {{ user }} | create .local/bin
  ansible.builtin.file:
    path: "$HOME/.local/bin"
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0755"
    state: directory
- name: Get starship install script
  ansible.builtin.get_url:
    url: https://starship.rs/install.sh
    dest: /tmp/starship_install.sh
    mode: '0755'
  register: common_starship_installation_script
# if the previous task hasn't changed, the shell script is already there
# and we have already installed starship
# we check this to satisfy idempotence
- name: Install starship with installation script
  become: true
  become_user: "{{ user }}"
  ansible.builtin.shell:
    cmd: /tmp/starship_install.sh --yes --bin-dir ~/.local/bin
    executable: /bin/sh
  when: common_starship_installation_script.changed
