---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ceph-csi-controller-manager
spec:
  template:
    spec:
      containers:
        - name: manager
          securityContext:
            seccompProfile:
              type: RuntimeDefault
