---
image:
  # renovate: datasource=docker depName=cloudflare/cloudflared
  tag: 2025.4.2
cloudflare:
  secretName: "rtorrent-tunnel-credentials"
  tunnelName: "faerun-rtorrent"
  ingress:
    - hostname: "flood.fieldsofbears.com"
      service: "http://rtorrent.rtorrent.svc.cluster.local:3000"
