---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ldap
helmCharts:
  - name: app-template
    includeCRDs: true
    repo: https://bjw-s-labs.github.io/helm-charts
    namespace: ldap
    releaseName: lemonldap-app
    version: 4.6.2
    valuesFile: values.yaml
resources:
  - ./volsync-external-secret.yaml
  - ./volsync-replication-source.yaml
  - ./volsync-replication-destination.yaml
