---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: etc-lemonldap-ng-volsync-backblaze
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: etc-lemonldap-ng-volsync-backblaze-secret
    template:
      engineVersion: v2
      data:
        RESTIC_REPOSITORY: "{{ .REPOSITORY_TEMPLATE }}/lemonldap/etc-lemonldap-ng"
        RESTIC_PASSWORD: "{{ .RESTIC_PASSWORD }}"
        AWS_ACCESS_KEY_ID: "{{ .AWS_ACCESS_KEY_ID }}"
        AWS_SECRET_ACCESS_KEY: "{{ .AWS_SECRET_ACCESS_KEY }}"
  dataFrom:
    - extract:
        key: backblaze
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: var-lib-lemonldap-ng-conf-volsync-backblaze
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: var-lib-lemonldap-ng-conf-volsync-backblaze-secret
    template:
      engineVersion: v2
      data:
        RESTIC_REPOSITORY: "{{ .REPOSITORY_TEMPLATE }}/lemonldap/var-lib-lemonldap-ng-conf"
        RESTIC_PASSWORD: "{{ .RESTIC_PASSWORD }}"
        AWS_ACCESS_KEY_ID: "{{ .AWS_ACCESS_KEY_ID }}"
        AWS_SECRET_ACCESS_KEY: "{{ .AWS_SECRET_ACCESS_KEY }}"
  dataFrom:
    - extract:
        key: backblaze
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: var-lib-lemonldap-ng-sessions-volsync-backblaze
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: var-lib-lemonldap-ng-sessions-volsync-backblaze-secret
    template:
      engineVersion: v2
      data:
        RESTIC_REPOSITORY: "{{ .REPOSITORY_TEMPLATE }}/lemonldap/var-lib-lemonldap-ng-sessions"
        RESTIC_PASSWORD: "{{ .RESTIC_PASSWORD }}"
        AWS_ACCESS_KEY_ID: "{{ .AWS_ACCESS_KEY_ID }}"
        AWS_SECRET_ACCESS_KEY: "{{ .AWS_SECRET_ACCESS_KEY }}"
  dataFrom:
    - extract:
        key: backblaze
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: var-lib-lemonldap-ng-psessions-volsync-backblaze
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: var-lib-lemonldap-ng-psessions-volsync-backblaze-secret
    template:
      engineVersion: v2
      data:
        RESTIC_REPOSITORY: "{{ .REPOSITORY_TEMPLATE }}/lemonldap/var-lib-lemonldap-ng-psessions"
        RESTIC_PASSWORD: "{{ .RESTIC_PASSWORD }}"
        AWS_ACCESS_KEY_ID: "{{ .AWS_ACCESS_KEY_ID }}"
        AWS_SECRET_ACCESS_KEY: "{{ .AWS_SECRET_ACCESS_KEY }}"
  dataFrom:
    - extract:
        key: backblaze
