---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 82.4.3
    namespace: monitoring
    releaseName: kube-prometheus-stack
    valuesFile: kube-prometheus-stack-values.yaml
resources:
  - ./alerts
  - ./prometheusrules
  - ./scrapeconfigs
