---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
helmCharts:
  - name: loki
    repo: https://grafana.github.io/helm-charts
    version: 6.52.0
    namespace: monitoring
    releaseName: loki
    valuesFile: loki-values.yaml
resources:
  - ./prometheus-rule.yaml
