---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: crunchy-userinit-controller
spec:
  template:
    spec:
      containers:
        - name: crunchy-userinit-controller
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            runAsNonRoot: true
            seccompProfile:
              type: "RuntimeDefault"
