---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v11
kind: ExternalSecret
metadata:
  name: timetagger-credentials
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: timetagger-credentials
    creationPolicy: Owner
  data:
    - secretKey: credentials
      remoteRef:
        key: timetagger-credentials
        property: credentials
