---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: timetagger
helmCharts:
  - name: cloudflare-tunnel
    repo: https://cloudflare.github.io/helm-charts
    namespace: timetagger
    releaseName: timetagger
    version: 0.3.2
    valuesFile: ./cloudflare-values.yaml
  - name: app-template
    includeCRDs: true
    repo: https://bjw-s-labs.github.io/helm-charts
    namespace: timetagger
    releaseName: timetagger
    version: 4.6.2
    valuesFile: values.yaml
resources:
  - ./base/tunnel-external-secret.yaml
  - ./base/credentials-external-secret.yaml
  - ./base/volsync-external-secret.yaml
  - ./base/volsync-replication-source.yaml
  - ./base/volsync-replication-destination.yaml
