---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: timetagger
helmCharts:
  - name: cloudflare-tunnel
    repo: https://cloudflare.github.io/helm-charts
    namespace: timetagger
    releaseName: timetagger
    version: 0.3.2
    valuesInline:
      image:
        # renovate: datasource=docker depName=cloudflare/cloudflared
        tag: 2025.9.1
      cloudflare:
        secretName: "timetagger-tunnel-credentials"
        tunnelName: "faerun-timetagger"
        ingress:
          - hostname: "timetagger.fieldsofbears.com"
            service: "http://timetagger.timetagger.svc.cluster.local:80"
  - name: app-template
    includeCRDs: true
    repo: https://bjw-s-labs.github.io/helm-charts
    namespace: timetagger
    releaseName: timetagger
    version: 3.7.3
    valuesFile: values.yaml
resources:
  - ./base/tunnel-external-secret.yaml
  - ./base/credentials-external-secret.yaml
  - ./base/volsync-external-secret.yaml
  - ./base/volsync-replication-source.yaml
  - ./base/volsync-replication-destination.yaml
