---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/values.schema.json
defaultPodOptions:
  securityContext:
    runAsUser: 1001
    runAsGroup: 1001
    fsGroup: 1001
    fsGroupChangePolicy: OnRootMismatch
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
controllers:
  timetagger:
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    containers:
      app:
        securityContext:
          seccompProfile:
            type: RuntimeDefault
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        image:
          repository: ghcr.io/almarklein/timetagger
          # renovate: datasource=docker depName=ghcr.io/almarklein/timetagger
          tag: v25.12.1-nonroot
          pullPolicy: IfNotPresent
        env:
          TIMETAGGER_BIND: 0.0.0.0:80
          TIMETAGGER_DATADIR: /config
          TIMETAGGER_LOG_LEVEL: info
          TIMETAGGER_CREDENTIALS:
            valueFrom:
              secretKeyRef:
                name: timetagger-credentials
                key: credentials
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5
        resources:
          requests:
            cpu: 18m
            memory: 128Mi
          limits:
            memory: 256Mi
service:
  app:
    controller: timetagger
    ports:
      http:
        port: 80
    type: LoadBalancer
    annotations:
      external-dns.alpha.kubernetes.io/hostname: timetagger.stoneydavis.local
      external-dns.alpha.kubernetes.io/ttl: "1800"
      external-dns.alpha.kubernetes.io/webhook-comment: "k8s_managed"
      external-dns.alpha.kubernetes.io/webhook-match-subdomain: "true"
      external-dns.alpha.kubernetes.io/webhook-disabled: "false"
    externalTrafficPolicy: Cluster
persistence:
  config:
    enabled: true
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    dataSourceRef:
      kind: ReplicationDestination
      apiGroup: volsync.backube
      name: timetagger-config-dst
    size: 5Gi
  tmp:
    type: emptyDir
