---
# yaml-language server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/vars.json
# version increment: 1 # this is being used to trigger the changed files check in CI
k3s_git_repo: https://github.com/raypappa/homelab.git
k3s_git_git_repo: git@github.com:raypappa/homelab.git
k3s_git_secret_name: raypappa-homelab
k3s_server_location: /var/lib/rancher/k3s
k3s_env_tz: America/Los_Angeles
k3s_env_puid: "1000"
k3s_env_pgid: "1000"
# renovate: datasource=github-releases depName=k3s-io/k3s
k3s_version: v1.34.1+k3s1
ansible_connection: ssh
argocd_version: 2.11.5
systemd_dir: /etc/systemd/system
extra_server_args: ""
extra_agent_args: ""
ansible_user: root
tailscale_args: "--login-server='http://weasel.stoneydavis.com'"
tailscale_authkey: "{{ lookup('amazon.aws.aws_secret', 'weasel.stoneydavis.com/headscale/pre-auth-key',
  region=lookup('env', 'AWS_REGION')) }}"
# tailscale_authkey: "{{ lookup('env', 'HEADSCALE_KEY') }}"
users:
  - 'root'
  - 'stoney'
# renovate: datasource=github-releases depName=helm/helm
helm_version: 3.19.0
helm_arch:
  x86_64: amd64
  aarch64: arm64
