---
image:
  # renovate: datasource=docker depName=cloudflare/cloudflared
  tag: 2025.11.1
cloudflare:
  secretName: "radarr-tunnel-credentials"
  tunnelName: "faerun-radarr"
  ingress:
    - hostname: "radarr.fieldsofbears.com"
      service: "http://radarr.radarr.svc.cluster.local"
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65532
  seccompProfile:
    type: "RuntimeDefault"
