---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json
defaultPodOptions:
  securityContext:
    runAsUser: 1001
    runAsGroup: 1001
    fsGroup: 1001
    fsGroupChangePolicy: OnRootMismatch
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
controllers:
  main:
    containers:
      main:
        securityContext:
          capabilities:
            drop:
              - ALL
          allowPrivilegeEscalation: false
        image:
          repository: ghcr.io/home-operations/radarr
          # renovate: datasource=docker depName=ghcr.io/home-operations/radarr
          tag: 6.0.3
          pullPolicy: IfNotPresent
        env:
          COMPlus_EnableDiagnostics: "0"
          RADARR__APP__INSTANCENAME: Radarr
          RADARR__AUTH__APIKEY:
            valueFrom:
              secretKeyRef:
                name: radarr-secret
                key: api_key
          RADARR__AUTH__METHOD: External
          RADARR__AUTH__REQUIRED: DisabledForLocalAddresses
          RADARR__LOG__LEVEL: info
          RADARR__SERVER__PORT: &port 9696
          RADARR__UPDATE__BRANCH: develop
          TZ: UTC
          PUID: 1001
          PGID: 1001
          UMASK: "022"
service:
  main:
    controller: main
    type: LoadBalancer
    annotations:
      metallb.universe.tf/address-pool: metalpool
      external-dns.alpha.kubernetes.io/hostname: radarr.stoneydavis.local
      external-dns.alpha.kubernetes.io/ttl: "1800"
      external-dns.alpha.kubernetes.io/webhook-comment: "k8s_managed"
      external-dns.alpha.kubernetes.io/webhook-match-subdomain: "true"
      external-dns.alpha.kubernetes.io/webhook-disabled: "true"
    externalTrafficPolicy: Cluster
    ports:
      http:
        port: *port
persistence:
  config:
    enabled: true
    storageClass: ceph-filesystem
    accessMode: ReadWriteOnce
    size: 5Gi
  library:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: radarr-library-nfs
