---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
helmCharts:
  - name: kube-state-metrics
    repo: https://prometheus-community.github.io/helm-charts
    version: 7.0.1
    namespace: monitoring
    releaseName: kube-state-metrics
    valuesFile: kube-state-metrics-values.yaml
