---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
helmCharts:
  - name: silence-operator
    repo: https://giantswarm.github.io/control-plane-catalog/
    version: 0.20.1
    namespace: monitoring
    releaseName: silence-operator
    valuesFile: silence-operator-values.yaml
patches:
  - path: ./patches/cluster_role.yaml
  - path: ./patches/cluster_role_binding.yaml
