---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns-mikrotik
  namespace: external-dns
spec:
  template:
    spec:
      containers:
        - name: external-dns
        - name: webhook
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
