---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns-mikrotik
  namespace: external-dns
spec:
  template:
    spec:
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
