---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
# vim:  filetype=ansible.yaml:
- name: Install k3s pre-requisites
  ansible.builtin.import_role:
    name: _k3s_prereq
# NON-SINGLETON cluster - 2nd and after HA masters.

# The singleton is any already running k3s controlplane node.  Mostly we
# just need to have the correct node token to use on any other control
# plane or worker node, because we initialize everything on the first
# one and then all other control plane nodes will join on the running
# node for the initial setup.
#
# Otherwise they won't be able to communicate and you'd have three
# isolated control planes, not a single HA control plane.
- name: Copy Jinja template
  ansible.builtin.template:
    src: config.yaml.j2
    dest: /etc/rancher/k3s/config.yaml
    owner: root
    group: root
    mode: "0600"
  register: k3s_agent_copied_k3s_config
- name: Copy K3s service file
  register: k3s_agent_k3s_service
  ansible.builtin.template:
    src: k3s.service.j2
    dest: "{{ systemd_dir }}/k3s.service"
    owner: root
    group: root
    mode: "0644"
- name: Enable and check K3s service
  ansible.builtin.systemd:
    name: k3s
    daemon_reload: true
    enabled: true
- name: Restart k3s service
  ansible.builtin.systemd:
    name: k3s
    state: restarted
  when: k3s_agent_copied_k3s_config.changed and k3s_agent_k3s_service.changed
