---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: app-template
    repo: https://bjw-s-labs.github.io/helm-charts
    version: 3.7.1
    namespace: it-tools
    releaseName: it-tools
    valuesFile: values.yaml
  - name: cloudflare-tunnel
    repo: https://cloudflare.github.io/helm-charts
    version: 0.3.2
    releaseName: it-tools
    namespace: it-tools
    valuesFile: cloudflare-values.yaml
resources:
  - ./external-secret.yaml
