---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: openebs-alloy
  namespace: openebs
spec:
  template:
    spec:
      containers:
        - name: alloy
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
        - name: config-reloader
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
