---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: openebs-localpv-provisioner
spec:
  template:
    spec:
      containers:
        - name: openebs-localpv-provisioner
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
            runAsNonRoot: true
            runAsUser: 65534
            runAsGroup: 65534
            seccompProfile:
              type: RuntimeDefault
