---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  namespace: openebs
  name: openebs-loki
spec:
  template:
    spec:
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - "ALL"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
        fsGroup: 10001
        runAsGroup: 10001
        runAsUser: 10001
