---
apiVersion: batch/v1
kind: Job
metadata:
  name: openebs-minio-post-job
spec:
  template:
    spec:
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - "ALL"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: minio-make-bucket
        - name: minio-make-user
