---
apiVersion: batch/v1
kind: Job
metadata:
  name: openebs-pre-upgrade-hook
spec:
  template:
    spec:
      containers:
        - name: pre-upgrade-job
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
