---
# vim: filetype=ansible.yaml
- name: Ensure required packages are installed
  become: true
  ansible.builtin.apt:
    pkg:
      - netplan.io # Should be there by default...
    state: latest
- name: Install netplan template if additional IPs
  become: true
  ansible.builtin.template:
    src: netplan-additional-ips.yaml.j2
    dest: /etc/netplan/51-additional-ips.yaml
    owner: root
    group: root
    mode: '0640'
  when: ovh_additional_ips is defined
  register: ovh_netplan_template
- name: Check netplan try
  become: true
  ansible.builtin.command: /usr/sbin/netplan try
  register: ovh_netplan_try
  when: ovh_additional_ips is defined and ovh_netplan_template.changed
  changed_when: true
- name: Apply netplan if try succeeded
  become: true
  ansible.builtin.command: /usr/sbin/netplan apply
  changed_when: ovh_additional_ips is defined and ovh_netplan_template.changed and
    ovh_netplan_try.rc == 0
- name: Delete netplan file if no additional IPs
  become: true
  ansible.builtin.file:
    path: /etc/netplan/51-additional-ips.yaml
    state: absent
  when: ovh_additional_ips is not defined
