---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
helmCharts:
  - name: prometheus-operator-crds
    repo: oci://ghcr.io/prometheus-community/charts
    version: 24.0.2
    namespace: monitoring
    releaseName: prometheus-operator-crds
    valuesFile: prometheus-operator-crds-values.yaml
