---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
- name: ArgoCD | Wait for k3s to stabilize
  ansible.builtin.wait_for:
    port: 6443
    delay: 10
    timeout: 300
    state: started
- name: ArgoCD | Create namespace
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: argocd
        labels:
          name: argocd
          pod-security.kubernetes.io/audit: baseline
          pod-security.kubernetes.io/enforce: baseline
          pod-security.kubernetes.io/warn: baseline
# Apply argoCD deployment manifest same as what ArgoCD itself is manged with, this eliminates changes during Ansible deploys.
- name: ArgoCD | Apply Kustomize # this is not the right way to do it but using kubernetes.core.k8s was failing for some reason.
  ansible.builtin.shell:
    cmd: >-
      set -o pipefail &&
      k3s kubectl kustomize
      --enable-helm=True {{ k3s_git_repo }}/kubernetes/{{ git_sub_path }}/bootstrap/argocd
      | k3s kubectl apply -f -
    executable: /bin/bash
  changed_when: true
- name: ArgoCD | Wait for ArgoCD to be ready
  become: false
  retries: 10
  until: k3s_controlplane_argocd_server_check is not failed
  delay: 5
  register: k3s_controlplane_argocd_server_check
  kubernetes.core.k8s_info:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    host: https://localhost:6443
    label_selectors:
      - name = argocd-repo-server
    kind: pod
    namespace: argocd
- name: ArgoCD | Create deploy key
  become: false
  community.crypto.openssh_keypair:
    path: "{{ (ansible_user_dir, '.ssh', 'argocd') | path_join }}"
    type: ed25519
    mode: "0400"
- name: ArgoCD | Slurp ssh key
  ansible.builtin.slurp:
    src: "{{ (ansible_user_dir, '.ssh', 'argocd') | path_join }}"
  register: k3s_controlplane_argocd_ssh_key
# Note: This makes argocd able to use the above ssh key, but the ssh key still needs to be added by hand as a deploy key to the github repo.
- name: ArgoCD | Configure ArgoCD with SSH Key
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: argocd-git-{{ k3s_git_secret_name }}
        namespace: argocd
        labels:
          argocd.argoproj.io/secret-type: repository
      stringData:
        type: git
        url: "{{ k3s_git_git_repo }}"
        sshPrivateKey: "{{ k3s_controlplane_argocd_ssh_key['content'] | b64decode
          }}"
