---
image:
  # renovate: datasource=docker depName=cloudflare/cloudflared
  tag: 2025.11.1
cloudflare:
  secretName: "homepage-tunnel-credentials"
  tunnelName: "faerun-homepage"
  ingress:
    - hostname: "fieldsofbears.com"
      service: "http://homepage.homepage.svc.cluster.local:3000"
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65532
  seccompProfile:
    type: "RuntimeDefault"
