---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json
podSecurityContext:
  runAsUser: 65534
  runAsGroup: 65534
  fsGroupChangePolicy: OnRootMismatch
  runAsNonRoot: true
  allowPrivilegeEscalation: false
  seccompProfile:
    type: RuntimeDefault
securityContext:
  runAsUser: 65534
  runAsGroup: 65534
  fsGroupChangePolicy: OnRootMismatch
  runAsNonRoot: true
  allowPrivilegeEscalation: false
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop:
      - ALL
controller:
  annotations:
    reloader.stakater.com/auto: "true"
image:
  repository: ghcr.io/gethomepage/homepage
  # renovate: datasource=docker depName=ghcr.io/gethomepage/homepage
  tag: v1.10.1
env:
  HOMEPAGE_VAR_JELLYFIN_API_KEY:
    valueFrom:
      secretKeyRef:
        name: jellyfin-secret
        key: api_key
  HOMEPAGE_VAR_HOME_ASSISTANT_API_KEY:
    valueFrom:
      secretKeyRef:
        name: home-assistant-secret
        key: api_key
  HOMEPAGE_VAR_READARR_API_KEY:
    valueFrom:
      secretKeyRef:
        name: readarr-secret
        key: api_key
  HOMEPAGE_VAR_SONARR_API_KEY:
    valueFrom:
      secretKeyRef:
        name: sonarr-secret
        key: api_key
  HOMEPAGE_VAR_PLEX_API_KEY:
    valueFrom:
      secretKeyRef:
        name: plex-secret
        key: api_key
  HOMEPAGE_VAR_PTERODACTYL_API_KEY:
    valueFrom:
      secretKeyRef:
        name: pterodactyl-secret
        key: api_key
  HOMEPAGE_VAR_RADARR_API_KEY:
    valueFrom:
      secretKeyRef:
        name: radarr-secret
        key: api_key
  HOMEPAGE_VAR_FLOOD_USERNAME:
    valueFrom:
      secretKeyRef:
        name: flood-secret
        key: username
  HOMEPAGE_VAR_FLOOD_PASSWORD:
    valueFrom:
      secretKeyRef:
        name: flood-secret
        key: password
  HOMEPAGE_VAR_PROWLARR_API_KEY:
    valueFrom:
      secretKeyRef:
        name: prowlarr-secret
        key: api_key
  HOMEPAGE_VAR_IMMICH_API_KEY:
    valueFrom:
      secretKeyRef:
        name: immich-secret
        key: api_key
config:
  bookmarks:
    - Links:
        - Infrastructure:
            - icon: sh-github.svg
              href: https://github.com/raypappa/homelab
        - Dotfiles:
            - icon: sh-github.svg
              href: https://github.com/raypappa/dotfiles
        - Developer Guide:
            - icon: sh-github.svg
              href: https://github.com/raypappa/quickstart-developer/
        - Vim Cheat Sheet:
            - abbr: vc
              href: https://vim.rtorr.com/
        - Chat with NeoVim Hacks:
            - abbr: nh
              href: https://gooey.ai/chat/vimbo-VYm/
  services:
    - Kubernetes:
        - ArgoCD:
            href: https://argocd.fieldsofbears.com
            icon: sh-argo-cd.svg
            description: ArgoCD is a GitOps continuous delivery tool for Kubernetes
            app: argocd-server
            namespace: argocd
            # widget:
            #   type: prometheusmetric
            #   url: http://prometheus-operated.monitoring.svc.cluster.local:9090
            #   metrics:
            #     - label: Healthy Apps
            #       query: sum(argocd_app_info{health_status="Healthy"})
            #     - label: Total Apps
            #       query: sum(argocd_app_info)
        - Ceph:
            href: https://rook.fieldsofbears.com
            icon: sh-ceph.svg
            description: Ceph is a distributed storage system
            app: ceph-mgr
            namespace: rook-ceph
            # widget:
            #   type: prometheus
            #   url: http://prometheus-operated.monitoring.svc.cluster.local:9090
            #   metrics:
            #     - name: ceph_health_status
            #       query: ceph_health_status{job="ceph"}
            #     - name: ceph_available_capacity
            #       query: ceph_cluster_total_bytes{job="ceph"} - ceph_cluster_total_used_bytes{job="ceph"}
            #     - name: ceph_osds_up
            #       query: sum(ceph_osd_up{job="ceph"})
            #     - name: ceph_osds_down
            #       query: sum(ceph_osd_down{job="ceph"})
            #     - name: ceph_osds_in
            #       query: sum(ceph_osd_in{job="ceph"})
            #     - name: ceph_osds_out
            #       query: sum(ceph_osd_out{job="ceph"})
        - Tailscale(coming soon):
            href: https://tailscale.fieldsofbears.com
            icon: sh-tailscale.svg
            description: Tailscale is a VPN service
    - Gaming:
        - Pterodactyl:
            href: https://game.fieldsofbears.com
            icon: sh-pterodactyl.svg
            widget:
              type: pterodactyl
              url: http://172.17.42.155:80
              key: "{{HOMEPAGE_VAR_PTERODACTYL_API_KEY}}"
    - Monitoring:
        - Grafana:
            href: https://grafana.fieldsofbears.com
            icon: sh-grafana.svg
            namespace: monitoring
            app: grafana
        - Prometheus:
            href: https://prometheus.fieldsofbears.com
            icon: sh-prometheus.svg
            namespace: monitoring
            app: prometheus
        - Mimir:
            href: https://mimir.fieldsofbears.com
            icon: https://grafana.com/static/img/logos/logo-mimir.svg
            namespace: monitoring
            app: mimir
    - Productivity:
        - Time Tagger:
            href: https://timetagger.fieldsofbears.com/
            icon: sh-timetagger.svg
            description: Time Tagger is a time tracking system
            namespace: timetagger
            app: timetagger
        - Leantime:
            href: https://lt.fieldsofbears.com/
            icon: sh-leantime.svg
            namespace: leantime
            description: Leantime is a project management system
            app: leantime-svc
    - Development:
        - AI:
            href: https://ai.fieldsofbears.com
            namespace: ollama
            description: Ollama WebUI
            app: ollama
            icon: sh-ollama.svg
        - Coder(coming soon):
            href: https://coder.fieldsofbears.com
            namespace: coder
            description: Coder is a web/remote IDE
            app: coder
            icon: sh-coder.svg
        - Gitea(coming soon):
            href: https://gitea.fieldsofbears.com
            namespace: gitea
            description: Gitea is a git service
            app: gitea
            icon: sh-gitea.svg
        - IT Tools:
            description: Tools and services for IT
            href: https://it-tools.fieldsofbears.com/
            namespace: it-tools
            app: it-tools
            icon: sh-it-tools.svg
        - Stirling PDF:
            href: https://stirling.fieldsofbears.com
            namespace: stirling
            description: Stirling PDF is a suite of PDF tools
            app: stirling
            icon: sh-stirling-pdf.svg
    - SmartHome:
        - HomeAssistant:
            href: https://ha.fieldsofbears.com
            icon: sh-home-assistant.svg
            description: Home Assistant is a home automation system
            widget:
              type: homeassistant
              url: http://homeassistant.stoneydavis.lan:8123
              key: "{{HOMEPAGE_VAR_HOME_ASSISTANT_API_KEY}}"
    - Media:
        - Plex:
            href: https://potato.fieldsofbears.com/web/index.html#!/
            icon: sh-plex.svg
            namespace: plex
            app: plex
            description: Plex is a media server
            widget:
              type: plex
              url: http://plex.plex.svc.cluster.local:32400
              key: "{{HOMEPAGE_VAR_PLEX_API_KEY}}"
              fields:
                - movies
                - tv
                - albums
        - Immich:
            href: https://immich.fieldsofbears.com
            icon: sh-immich.svg
            namespace: immich
            description: Immich is a image hosting service
            app: immich
            widget:
              type: immich
              url: http://immich-server.immich.svc.cluster.local:2283
              key: "{{HOMEPAGE_VAR_IMMICH_API_KEY}}"
              version: 2
        - Jellyfin:
            href: https://jellyfin.fieldsofbears.com
            icon: sh-jellyfin.svg
            namespace: jellyfin
            app: jellyfin
            description: Jellyfin is a media server
            widgets:
              - type: jellyfin
                url: http://jellyfin.jellyfin.svc.cluster.local:8096
                key: "{{HOMEPAGE_VAR_JELLYFIN_API_KEY}}"
    - Downloads:
        - Sonarr:
            href: https://sonarr.fieldsofbears.com
            icon: sh-sonarr.svg
            namespace: sonarr
            description: Sonarr is a tv show management system
            app: sonarr
            widget:
              type: sonarr
              url: http://sonarr.sonarr.svc.cluster.local:8989
              key: "{{HOMEPAGE_VAR_SONARR_API_KEY}}"
              enableQueue: true # optional, defaults to false
        - Radarr:
            href: https://radarr.fieldsofbears.com
            namespace: radarr
            description: Radarr is a movie management system
            app: radarr
            icon: sh-radarr.svg
            widget:
              type: radarr
              url: http://radarr.radarr.svc.cluster.local:7878
              key: "{{HOMEPAGE_VAR_RADARR_API_KEY}}"
              fields:
                - wanted
                - missing
                - queue
                - movies
        - Readarr:
            href: https://readarr.fieldsofbears.com
            namespace: readarr
            app: readarr
            icon: sh-readarr.svg
            description: Readarr is a ebook management system
            widget:
              type: readarr
              url: http://readarr.readarr.svc.cluster.local:8787
              key: "{{HOMEPAGE_VAR_READARR_API_KEY}}"
              fields:
                - wanted
                - queued
                - books
        - Prowlarr:
            href: https://prowlarr.fieldsofbears.com
            app: prowlarr
            namespace: prowlarr
            icon: sh-prowlarr.svg
            description: Prowlarr is a search engine for torrents
            widget:
              type: prowlarr
              url: http://prowlarr.prowlarr.svc.cluster.local:9696
              key: "{{HOMEPAGE_VAR_PROWLARR_API_KEY}}"
              fields:
                - numberOfGrabs
                - numberOfQueries
                - numberOfFailGrabs
                - numberOfFailQueries
        - Flood:
            href: https://flood.fieldsofbears.com
            namespace: rtorrent
            app: rtorrent
            icon: sh-flood.svg
            description: Flood is a web UI for rTorrent
            widget:
              type: flood
              password: "{{HOMEPAGE_VAR_FLOOD_PASSWORD}}"
              username: "{{HOMEPAGE_VAR_FLOOD_USERNAME}}"
              url: http://rtorrent.rtorrent.svc.cluster.local:3000
              fields:
                - download
                - upload
                - leech
                - seed
        # It looks weird in the display without a widget.
        - Whisparr:
            href: https://whisparr.fieldsofbears.com
            namespace: whisparr
            app: whisparr
            description: Whisparr is a media manager for porn
            icon: sh-whisparr.svg
  widgets:
    # show the kubernetes widget, with the cluster summary and individual nodes
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "cluster"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true
    - search:
        provider: duckduckgo
        target: _blank
  kubernetes:
    mode: cluster
  settings:
    headerStyle: boxed
    theme: dark
    layout:
      - Media:
          style: row
          columns: 3
          header: false
      - Downloads:
          style: row
          columns: 6
          header: false
      - Gaming:
          style: column
          header: false
      - SmartHome:
          style: column
          header: false
      - Productivity:
          style: column
          header: false
      - Development:
          style: row
          columns: 6
          header: false
      - Monitoring:
          style: row
          columns: 6
          header: false
      - Kubernetes:
          style: row
          columns: 6
          header: false
          icon: https://raw.githubusercontent.com/kubernetes/kubernetes/refs/heads/master/logo/logo.svg
      - Links:
          style: row
          columns: 6
# The service account is necessary to allow discovery of other services
serviceAccount:
  create: true
  name: homepage
# This enables the service account to access the necessary resources
enableRbac: true
ingress:
  main:
    enabled: false
