---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/playbook
# Headscale should be running first, as deploying tailscale agents on nodes before headscale is working will break a lot of things.
# Also if needing to re-bootstrap headscale and the rest of the nodes you'll need to use hosts that your local machine will understand how to connect.
- name: Headscale
  hosts: headscale
  become: true
  roles:
    - common_critical
    - common
    - ovh
    - headscale
- name: Common
  hosts: all
  roles:
    # It's just one package... it's just that it'll break DNS resolution until
    # things get restarted, and a reboot is the easy way to do this. If DNS
    # resolution breaks, then apt breaks, etc. Break this out so we don't break
    # brand new hosts during the first ansibilization.
    - common_critical
    - common
    - common_reboot # if any updates to disk are requesting a reboot at the end, ensure we reboot
- name: Production Kubernetes Control Plane
  order: sorted
  tags:
    - prod_k8s_controlplane
  hosts:
    - prod_k8s_controlplane
  roles:
    - k3s_controlplane
- name: Production Kubernetes Agents
  order: sorted
  hosts:
    - prod_k8s_agent
  roles:
    - k3s_agent
- name: Game Server
  hosts:
    - game_server
  roles:
    - game-server
# - name: Development Kubernetes Control Plane
#   hosts: dev_k8s_controlplane
#   roles:
#     - k3s_controlplane
# - name: Development Kubernetes Noes
#   hosts: dev_k8s_nodes
#   roles:
#     - k3s_agent
- name: NFS Server
  hosts:
    - nfs_server
  roles:
    - nfs_server
- name: TURN/STUN server(livekit)
  hosts:
    - weasel.stoneydavis.com
  roles:
    - valkey
    - livekit
  tags:
    - livekit
- name: TURN/STUN server
  hosts:
    - weasel.stoneydavis.com
  roles:
    - coturn
  tags:
    - coturn
