---
image:
  # renovate: datasource=docker depName=cloudflare/cloudflared
  tag: 2025.9.1
cloudflare:
  secretName: "rook-ceph-tunnel-credentials"
  tunnelName: "faerun-rook-ceph"
  ingress:
    - hostname: "rook.fieldsofbears.com"
      service: "http://rook-ceph-mgr-dashboard.rook-ceph.svc.cluster.local:7000"
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65532
  seccompProfile:
    type: "RuntimeDefault"
  allowprivilegeescalation: false
