---
image:
  # renovate: datasource=docker depName=cloudflare/cloudflared
  tag: 2025.9.1
cloudflare:
  secretName: "spotizerr-tunnel-credentials"
  tunnelName: "faerun-spotizerr"
  ingress:
    - hostname: "spotizerr.fieldsofbears.com"
      service: "http://spotizerr-server.immich.svc.cluster.local:80"
