---
image:
  # renovate: datasource=docker depName=cloudflare/cloudflared
  tag: 2026.2.0
cloudflare:
  secretName: "spotizerr-tunnel-credentials"
  tunnelName: "faerun-spotizerr"
  ingress:
    - hostname: "spotizerr.fieldsofbears.com"
      service: "http://spotizerr.spotizerr.svc.cluster.local:80"
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65532
  seccompProfile:
    type: "RuntimeDefault"
