---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json
defaultPodOptions:
  securityContext:
    runAsUser: 1001
    runAsGroup: 1001
    fsGroup: 1001
    fsGroupChangePolicy: OnRootMismatch
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
controllers:
  spotizerr:
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
    strategy: RollingUpdate
    containers:
      app:
        securityContext:
          capabilities:
            drop:
              - ALL
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          seccompProfile:
            type: RuntimeDefault
        image:
          repository: cooldockerizer93/spotizerr
          # renovate: datasource=docker depName=cooldockerizer93/spotizerr
          tag: "3.3.0"
        env:
          PUID: "1001"
          PGID: "1001"
service:
  spotizerr:
    controller: spotizerr
    type: LoadBalancer
    annotations:
      external-dns.alpha.kubernetes.io/hostname: spotizerr.stoneydavis.local
      external-dns.alpha.kubernetes.io/ttl: "1800"
      external-dns.alpha.kubernetes.io/webhook-comment: "k8s_managed"
      external-dns.alpha.kubernetes.io/webhook-match-subdomain: "true"
      external-dns.alpha.kubernetes.io/webhook-disabled: "false"
    externalTrafficPolicy: Cluster
    ports:
      http:
        targetPort: 7171
        port: 80
persistence:
  config:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /app/config
    dataSourceRef:
      kind: ReplicationDestination
      apiGroup: volsync.backube
      name: spotizerr-config-dst
  progress:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /app/prgs
    dataSourceRef:
      kind: ReplicationDestination
      apiGroup: volsync.backube
      name: spotizerr-progress-dst
  downloads:
    globalMounts:
      - path: /app/downloads
    enabled: true
    existingClaim: spotizerr-library-downloads-nfs
  data:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /app/data
    dataSourceRef:
      kind: ReplicationDestination
      apiGroup: volsync.backube
      name: spotizerr-data-dst
