---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: crunchy-postgres
spec:
  refreshInterval: 24h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: crunchy-postgres-secret
    template:
      engineVersion: v2
      data:
        s3.conf: |
          [global]
          repo1-s3-key={{ .keyID }}
          repo1-s3-key-secret={{ .applicationKey }}
        encryption.conf: |
          [global]
          repo1-cipher-pass={{ .crunchy_postgres_backup_encryption_cipher }}
  data:
    - secretKey: crunchy_postgres_backup_encryption_cipher
      remoteRef:
        key: "dtqthqghe7c5de7xdesrpc5tvy/crunchy_postgres_backup_encryption_cipher"
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
    - secretKey: keyID
      remoteRef:
        key: "v3hshagruyel2pwwgdh44escsq/keyID"
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
    - secretKey: applicationKey
      remoteRef:
        key: "v3hshagruyel2pwwgdh44escsq/applicationKey"
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
