---
installCRDs: true
controller:
  enabled: true
  image:
    repository: registry.k8s.io/sig-storage/snapshot-controller
    # renovate: datasource=docker depName=registry.k8s.io/sig-storage/snapshot-controller
    tag: "v8.5.0"
  serviceMonitor:
    create: true
  securityContext:
    allowPrivilegeEscalation: false
    seccompProfile:
      type: "RuntimeDefault"
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    runAsUser: 1000
webhook:
  enabled: true
  securityContext:
    allowPrivilegeEscalation: false
    seccompProfile:
      type: "RuntimeDefault"
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    runAsUser: 1000
  podSecurityContext:
    seccompProfile:
      type: "RuntimeDefault"
    runAsNonRoot: true
    runAsUser: 1000
