---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v11
kind: ExternalSecret
metadata:
  name: crunchy-postgres
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: crunchy-postgres-secret
    template:
      engineVersion: v2
      data:
        s3.conf: |
          [global]
          repo1-s3-key={{ .keyID }}
          repo1-s3-key-secret={{ .applicationKey }}
        encryption.conf: |
          [global]
          repo1-cipher-pass={{ .crunchy_postgres_backup_encryption_cipher }}
  dataFrom:
    - extract:
        conversionStrategy: Default
        decodingStrategy: None
        key: crunchy-postgres
        metadataPolicy: None
    - extract:
        conversionStrategy: Default
        decodingStrategy: None
        key: backblaze-postgres
        metadataPolicy: None
