---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  annotations:
    argocd.argoproj.io/sync-options: ServerSideApply=true
namespace: database
helmCharts:
  - name: pgo
    releaseName: crunchy-postgres-operator
    version: 5.8.3
    # helm show chart oci://registry.developers.crunchydata.com/crunchydata/pgo
    repo: oci://registry.developers.crunchydata.com/crunchydata
    includeCRDs: true
    valuesFile: operator-values.yaml
  - name: crunchy-userinit-controller
    releaseName: crunchy-userinit-controller
    version: 1.0.1
    repo: https://drummyfloyd.github.io/crunchy-userinit-controller
    valuesFile: ./userinit-controller-values.yaml
resources:
  - ./base/rbac.yaml
  - ./base/secret-store.yaml
  - ./base/pod-monitor.yaml
  - ./base/external-secret.yaml
  - ./base/postgres-cluster.yaml
  - ./base/postgres-admin.yaml

patches:
  - path: ./patches/userinit-controller.yaml
