---
podSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  privileged: false
  runAsNonRoot: true
  seccompProfile:
    type: "RuntimeDefault"
securityContext:
  runAsNonRoot: true
  seccompProfile:
    type: "RuntimeDefault"
fullnameOverride: crunchy-userinit-controller
