---
podSecurityContext:
  runAsNonRoot: true
  seccompProfile:
    type: "RuntimeDefault"
securityContext:
  runAsNonRoot: true
  seccompProfile:
    type: "RuntimeDefault"
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
fullnameOverride: crunchy-userinit-controller
