---
image:
  # renovate: datasource=docker depName=cloudflare/cloudflared
  tag: 2025.9.1
cloudflare:
  secretName: "stirling-pdf-tunnel-credentials"
  tunnelName: "faerun-stirling-pdf"
  ingress:
    - hostname: "stirling.fieldsofbears.com"
      service: "http://stirling-pdf-stirling-pdf-chart.stirling-pdf.svc.cluster.local:8080"
