---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/argoproj.io/application_v1alpha1.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: recyclarr-svc
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://bjw-s.github.io/helm-charts
    chart: app-template
    targetRevision: 3.3.1
    helm:
      valuesObject:
        controllers:
          recyclarr:
            type: cronjob
            annotations:
              reloader.stakater.com/auto: "true"
            cronjob:
              schedule: "@daily"
            pod:
              securityContext:
                runAsUser: 2000
                runAsGroup: 2000
                runAsNonRoot: true
                fsGroup: 2000
                fsGroupChangePolicy: OnRootMismatch
            containers:
              app:
                image:
                  repository: ghcr.io/recyclarr/recyclarr
                  # renovate: datasource=docker depName=ghcr.io/recyclarr/recyclarr
                  tag: 7.2
                args:
                  - sync
                env:
                  COMPlus_EnableDiagnostics: "0"
                  RADARR_API_KEY:
                    valueFrom:
                      secretKeyRef:
                        name: radarr-secret
                        key: api_key
                  SONARR_API_KEY:
                    valueFrom:
                      secretKeyRef:
                        name: sonarr-secret
                        key: api_key
                resources:
                  requests:
                    cpu: 5m
                    memory: 36M
                  limits:
                    memory: 128M
                securityContext:
                  allowPrivilegeEscalation: false
                  readOnlyRootFilesystem: true
                  capabilities:
                    drop:
                      - ALL
        persistence:
          config:
            storageClass: ceph-filesystem
            accessMode: ReadWriteOnce
            size: 1Gi
            advancedMounts:
              recyclarr:
                app:
                  - path: /config
          config-file:
            type: configMap
            name: recyclarr-configmap
            globalMounts:
              - path: /config/recyclarr.yml
                subPath: recyclarr.yml
                readOnly: true
  destination:
    server: "https://kubernetes.default.svc"
    namespace: homelab
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true
