---
image:
  # renovate: datasource=docker depName=cloudflare/cloudflared
  tag: 2025.9.1
cloudflare:
  secretName: "jellyfin-tunnel-credentials"
  tunnelName: "faerun-jellyfin"
  ingress:
    - hostname: "jellyfin.fieldsofbears.com"
      service: "http://jellyfin.jellyfin.svc.cluster.local:8096"
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65532
  seccompProfile:
    type: "RuntimeDefault"
