---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: jellyfin
helmCharts:
  - name: app-template
    repo: https://bjw-s-labs.github.io/helm-charts
    version: 3.7.3
    namespace: jellyfin
    releaseName: jellyfin
    valuesFile: values.yaml
  - name: cloudflare-tunnel
    repo: https://cloudflare.github.io/helm-charts
    version: 0.3.2
    releaseName: jellyfin
    namespace: jellyfin
    valuesFile: cloudflare-values.yaml
resources:
  - ./base/external-secret.yaml
  - ./base/pvc/config/volsync-replication-source.yaml
  - ./base/pvc/config/volsync-external-secret.yaml
  - ./base/pvc/config/volsync-replication-destination.yaml
  - ./base/library-pvc.yaml
  - ./base/sqlite.yaml
