---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json
defaultPodOptions:
  securityContext:
    runAsUser: 1001
    runAsGroup: 1001
    fsGroup: 1001
    fsGroupChangePolicy: OnRootMismatch
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
controllers:
  main:
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        # supplementalGroups:
        #   - 44
        #   - 105
    containers:
      app:
        image:
          repository: docker.io/jellyfin/jellyfin
          # renovate: datasource=docker depName=docker.io/jellyfin/jellyfin
          tag: "2025102005"
        env:
          TZ: "UTC"
          JELLYFIN_CACHE_DIR: "/config/cache"
        securityContext:
          capabilities:
            drop:
              - ALL
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          seccompProfile:
            type: RuntimeDefault
            # supplementalGroups:
            #   #   # Hardware acceleration using an Intel iGPU w/ QuickSync
            #   #   # These IDs below should be matched to your `video` and `render` group on the host
            #   #   # To obtain those IDs run the following grep statement on the host:
            #   #   # $ cat /etc/group | grep "video\|render"
            #   - 44
            #   - 105
        resources:
          requests:
            # gpu.intel.com/i915: 1
            cpu: 500m
            memory: 1000Mi
          limits:
            # gpu.intel.com/i915: 1
            memory: 8000Mi
persistence:
  config:
    enabled: true
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    dataSourceRef:
      kind: ReplicationDestination
      apiGroup: volsync.backube
      name: jellyfin-config-dst
    size: 5Gi
  tmp-jellyfin:
    enabled: true
    type: emptyDir
    # medium: "Memory"
    sizeLimit: 1Gi
    globalMounts:
      - path: /tmp/jellyfin
  transcode:
    enabled: true
    type: emptyDir
    # medium: "Memory"
    sizeLimit: 10Gi
  library:
    enabled: true
    existingClaim: jellyfin-library-nfs
    globalMounts:
      - path: /library
        readOnly: true
service:
  main:
    controller: main
    type: LoadBalancer
    annotations:
      metallb.universe.tf/address-pool: metalpool
      external-dns.alpha.kubernetes.io/hostname: jellyfin.stoneydavis.local
      external-dns.alpha.kubernetes.io/ttl: "1800"
      external-dns.alpha.kubernetes.io/webhook-comment: "k8s_managed"
      external-dns.alpha.kubernetes.io/webhook-match-subdomain: "true"
      external-dns.alpha.kubernetes.io/webhook-disabled: "false"
    externalTrafficPolicy: Cluster
    ports:
      http:
        port: 8096
        targetPort: 80
