---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sonarr-config-volsync-backblaze
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: sonarr-config-volsync-backblaze-secret
    template:
      engineVersion: v2
      data:
        RESTIC_REPOSITORY: "{{ .REPOSITORY_TEMPLATE }}/sonarr-config"
        RESTIC_PASSWORD: "{{ .RESTIC_PASSWORD }}"
        AWS_ACCESS_KEY_ID: "{{ .AWS_ACCESS_KEY_ID }}"
        AWS_SECRET_ACCESS_KEY: "{{ .AWS_SECRET_ACCESS_KEY }}"
  data:
    - secretKey: REPOSITORY_TEMPLATE
      remoteRef:
        key: backblaze/REPOSITORY_TEMPLATE
    - secretKey: RESTIC_PASSWORD
      remoteRef:
        key: backblaze/RESTIC_PASSWORD
    - secretKey: AWS_SECRET_ACCESS_KEY
      remoteRef:
        key: backblaze/AWS_SECRET_ACCESS_KEY
    - secretKey: AWS_ACCESS_KEY_ID
      remoteRef:
        key: backblaze/AWS_ACCESS_KEY_ID
