---
name: AWS-CDK
on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  check:
    runs-on: ${{ vars.RUNS_ON }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 2
      - name: Get Changed Files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          files_yaml: |
            cdk:
              - cdk/bin/**
              - cdk/lib/**
              - cdk/test/**
              - cdk/cdk.json
              - cdk/tsconfig.json
              - cdk/package.json
              - cdk/pnpm-lock.yaml
              - .github/workflows/cdk.yaml
    outputs:
      execute: ${{ steps.changed-files.outputs.cdk_all_changed_files_count > 0 }}
  verify:
    needs: check
    runs-on: ${{ vars.RUNS_ON }}
    steps:
      - run: echo "${{needs.check.outputs.execute == 'true'}}"
  aws-cdk:
    needs: check
    if: needs.check.outputs.execute == 'true'
    runs-on: ${{ vars.RUNS_ON}}
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read # apparently setting permissions is holistic rather than additive.
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ vars.AWS_ASSUME_ROLE_ARN }}
          aws-region: ${{ vars.AWS_DEFAULT_REGION }}
      - uses: actions/checkout@v5
      - name: arduino/setup-task
        uses: arduino/setup-task@v2.0.0
        with:
          version: ${{ vars.TASK_VERSION}}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.5"
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          cache: "pnpm"
      - name: Setting up CDK
        run: task cdk:configure
      - name: Bootstrapping CDK
        run: task cdk:bootstrap
      - name: CDK Unit Tests
        run: task cdk:test:unit
      - name: Synthesize CDK
        run: task cdk:synth
      - name: Difference between CDK and deployed
        run: task cdk:diff
      - name: Deploying CDK
        run: task cdk:deploy:ci
        if: github.ref == 'refs/heads/main'
