---
name: "Kustomize GitHub Actions"
on:
  - pull_request
jobs:
  kustomize:
    name: "Kustomize"
    runs-on: ${{ vars.RUNS_ON }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
      - name: arduino/setup-task
        uses: arduino/setup-task@v2.0.0
        with:
          version: ${{ vars.TASK_VERSION}}
      - name: Kustomize It!
        run: task build:kustomize
